.submission-search-icon-space {
  padding-left:24px;
}
.submission-search-no-padding {
  padding: 0px !important;
  margin: 0px !important;
}
.submission-search-title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0px;
  margin: 0px !important;
}
.submission-search-subtitle {
  padding: 0px;
  margin: 0px !important;
}
.submission-search-information {
  padding-left: 24px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  flex-shrink: 1 !important;
  flex-grow: 1 !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
.submission-search-image-container {
  position: relative;
  display: inline-block;
}
.submission-search-image {
  background-size: cover;
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 5px solid;
}
.submission-search-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.submission-search-padding {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.submission-search-card {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  flex-shrink: 0 !important;
  display: -webkit-flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  border-radius: 5px !important;
  padding: 24px !important;
  background-color: #282e34 !important;
  color: #f4f4f4 !important;
}
.submission-search-card:hover  {
  background-color:#282e34 !important;
  opacity:90% !important;
}
@media all and (max-width: 1000px) {
  .submission-search-card {
      -webkit-box-orient: vertical !important;
      -webkit-box-direction: normal !important;
          -ms-flex-direction: column !important;
              flex-direction: column !important;
      -webkit-box-align: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
  }
  .submission-search-information {
      padding-left: 0px;
      padding-bottom: 24px;
      min-height: 0px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
  }
  .submission-search-image-container {
    padding-bottom: 12px;
  }
  .submission-search-subtitle {
    padding-bottom: 12px;
  }
}