<mat-card class="search-main">
  <header class="popup-form-header">
    <div class="popup-form-title">RIGHT CHALLENGE, <br> RIGHT CROWD.</div>
    <span class="horizontal-spacer"></span>
    <span class="horizontal-spacer"></span>
  </header>

  <mat-card-content class="popup-form-content">
    <div class="orient-contents-vertically-dialog">
      <div class="orient-contents-horizontally-dialog">
        <span class="horizontal-spacer"></span>
        <span class="horizontal-spacer"></span>
        <button mat-raised-button color="primary" (click)="OnSubmit()">See Available Opportunities</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>