<div *ngIf="!dataLoaded" class="data-loader">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="dataLoaded" class="profile-form-main orient-contents-vertically">
  <div class="profile-action-icons orient-contents-horizontally">
    <span class="horizontal-spacer"></span>
    <button (click)="OnFinalizeWinners()" color="accent" matTooltip="Finalize the currently selected winners." matTooltipPosition="above" [disabled]="currentSelection.length == 0" mat-icon-button><mat-icon color="accent">gavel</mat-icon></button>
  </div>

  <div class="profile-content">
    <div class="profile-image-container center-contents">
      <img [src]="contract.ContractData.Photo ? contract.ContractData.Photo : 'https://crowd-u-public-assets.s3.amazonaws.com/defaultChallengePicture.png'" class="profile-image primary-border">
    </div>

    <div class="profile-information orient-contents-vertically">
      <div class="orient-contents-horizontally profile-info-line">
        <h2 class="profile-title">{{contract.ContractData.Name}}</h2>
        <span class="profile-padding"></span>
      </div>

      <p class="profile-subtitle profile-info-line">{{contract.ContractData.Description}}</p>
      <div class="orient-contents-horizontally profile-info-line">
        <mat-icon color="primary">event_note</mat-icon>
        <div class="profile-left-padding">Entries due by {{contract.ContractData.SubmitDate.getUTCMonth() + 1}}/{{contract.ContractData.SubmitDate.getUTCDate()}}/{{contract.ContractData.SubmitDate.getUTCFullYear()}}</div>
      </div>

      <span class="profile-padding"></span>
      <mat-chip-list class="orient-contents-horizontally profile-chips">
        <mat-chip color="primary" selected>{{contract.ContractData.Concentrations[0]}}</mat-chip>
        <mat-chip *ngIf="contract.ContractData.Concentrations[1]" color="primary" selected>{{contract.ContractData.Concentrations[1]}}</mat-chip>
        <mat-chip *ngIf="contract.ContractData.Concentrations[2]" color="primary" selected>{{contract.ContractData.Concentrations[2]}}</mat-chip>
      </mat-chip-list>
    </div>

    <span class="profile-padding"></span>
    <div class="orient-contents-vertically profile-right-section">
      <h2 class="profile-title">Prize: ${{contract.ContractData.PrizeTotal.toLocaleString('en')}}</h2>
      <span class="profile-padding"></span>
    </div>
  </div>

  <div class="profile-about orient-contents-vertically">
    <mat-tab-group [color]="'primary'" [backgroundColor]="'accent'" class="profile-tabs">
      <mat-tab>
        <ng-template mat-tab-label>
          Submissions
        </ng-template>

        <div>
          <div class="orient-contents-horizontally center-contents">
            <span class="horizontal-spacer"></span>
            <div>Download All: </div>
            <div><button (click)="OnDownloadAllSubmissions()" matTooltip="Download all the submissions" matTooltipPosition="above" mat-icon-button><mat-icon color="primary">get_app</mat-icon></button></div>
          </div>

          <mat-divider></mat-divider>
          <div class="teams-divider"></div>

          <mat-list *ngFor="let submission of allSubmissions" [class.selected]="submission === selectedSubmission">
            <mat-card class="winner-selection-card">
              <div class="winner-selection-image-container center-contents">
                <img [src]="submission.Photo ? submission.Photo : 'https://crowd-u-public-assets.s3.amazonaws.com/defaultChallengePicture.png'" class="winner-selection-image primary-border">
              </div>
          
              <div class="winner-selection-information orient-contents-vertically">
                <h2 class="winner-selection-title">{{submission.Name}}</h2>
                <p class="winner-selection-subtitle">{{submission.Description}}</p>
          
                <span class="winner-selection-padding"></span>
          
                <mat-chip-list class="orient-contents-horizontally">
                  <mat-chip *ngIf="submission.TeamName" color="primary" selected>Team: {{submission.TeamName}}</mat-chip>
                  <mat-chip *ngIf="!submission.TeamName" color="primary" selected>Username: {{submission.Members[0]}}</mat-chip>
                  <mat-chip *ngIf="submission.WinnerType" color="primary" selected>{{submission.WinnerType}}</mat-chip>
                </mat-chip-list>
              </div>
              <span class="horizontal-spacer"></span>

              <div class="orient-contents-horizontally center-contents">
                <span class="horizontal-spacer"></span>
                <div><button (click)="OnSeeSubmission(submission)" matTooltip="See this submission's profile." matTooltipPosition="above" mat-icon-button><mat-icon color="primary">insert_drive_file</mat-icon></button></div>
                <div><button (click)="OnDownloadSubmission(submission)" matTooltip="Download this submission." matTooltipPosition="above" mat-icon-button><mat-icon color="primary">get_app</mat-icon></button></div>
                <div class="winner-selection-icon-space" ><button (click)="OnChooseWinner(submission)" matTooltip="Choose this submission as a winner." matTooltipPosition="above" mat-icon-button><mat-icon color="primary">emoji_events</mat-icon></button></div>  
              </div>
            </mat-card>
          </mat-list>
        </div>
      </mat-tab>
      
      <mat-tab *ngIf="contract.ContractData.About">
        <ng-template mat-tab-label>
          Description
        </ng-template>

        <div [innerHtml]="contract.ContractData.About"></div>
      </mat-tab>
    
      <mat-tab *ngIf="contract.ContractData.Prizes">
        <ng-template mat-tab-label>
          Prizes
        </ng-template>

        <div [innerHtml]="contract.ContractData.Prizes"></div>
      </mat-tab>

      <mat-tab *ngIf="contract.ContractData.Eligibility">
        <ng-template mat-tab-label>
          Eligibility
        </ng-template>
        
        <div [innerHtml]="contract.ContractData.Eligibility"></div>
      </mat-tab>

      <mat-tab *ngIf="contract.ContractData.Rules">
        <ng-template mat-tab-label>
          Rules
        </ng-template>
        
        <div [innerHtml]="contract.ContractData.Rules"></div>
      </mat-tab>

      <mat-tab *ngIf="contract.ContractData.Requirements">
        <ng-template mat-tab-label>
          Requirements
        </ng-template>
        
        <div [innerHtml]="contract.ContractData.Requirements"></div>
      </mat-tab>

      <mat-tab *ngIf="contract.ContractData.JudgingCriteria">
        <ng-template mat-tab-label>
          Judging Criteria
        </ng-template>
        
        <div [innerHtml]="contract.ContractData.JudgingCriteria"></div>
      </mat-tab>

      <mat-tab *ngIf="contract.ContractData.Judges">
        <ng-template mat-tab-label>
          Judges
        </ng-template>
        
        <div [innerHtml]="contract.ContractData.Judges"></div>
      </mat-tab>

      <mat-tab *ngIf="contract.ContractData.Sponsors">
        <ng-template mat-tab-label>
          Sponsors
        </ng-template>
        
        <div [innerHtml]="contract.ContractData.Sponsors"></div>
      </mat-tab>

      <mat-tab *ngIf="contract.ContractData.Resources">
        <ng-template mat-tab-label>
          Resources
        </ng-template>
        
        <div [innerHtml]="contract.ContractData.Resources"></div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>