<div *ngIf="!dataLoaded" class="data-loader-dialog"><mat-spinner mode="indeterminate"></mat-spinner></div>

<div class="popup-form">
  <header class="popup-form-header orient-contents-horizontally-dialog">
    <div class="popup-form-title">EDIT Department</div>
    <span class="horizontal-spacer"></span>
    <button color="warn" (click)="OnExit()" mat-button>
      <mat-icon color="warn">close</mat-icon>
    </button>
  </header>

  <div class="popup-form-content">
    <mat-checkbox [(ngModel)]="changePass" matTooltip="Check if you want to change your password">Reset Password?</mat-checkbox>

    <div class="divider"></div>

    <form *ngIf="changePass" class="orient-contents-vertically-dialog" [formGroup]="passForm" (ngSubmit)="OnSubmitPassword()">
      <div class="orient-contents-vertically-dialog" formGroupName="password">
        <mat-form-field appearance="outline" >
          <mat-label>New Pasword</mat-label>
          <input matTooltip="Passwords must have a minimum eight characters, one upper case letter, one lower case letter, one number and one special character." placeholder="Password" type="password" formControlName="password1" [type]="hide1 ? 'password' : 'text'"  matInput/>
          <mat-error *ngIf="(password1.dirty || password1.touched) && password1.invalid && password1.errors.pattern">Password isn't strong enough.</mat-error>
          <mat-error *ngIf="(password1.dirty || password1.touched) && password1.invalid && password1.errors.required">New Password is required.</mat-error>
          <mat-icon (click)="hide1 = !hide1" matSuffix>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" >
          <mat-label>Confirm New Password</mat-label>
          <input placeholder="Confirm Password" type="password" formControlName="password2" [type]="hide2 ? 'password' : 'text'" matInput/>
          <mat-error *ngIf="(password2.dirty || password2.touched) && password2.invalid && password2.errors.required">Confirm Password is required.</mat-error>
          <mat-icon (click)="hide2 = !hide2" matSuffix>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="password.errors?.doesMatchPassword">The passwords must match.</mat-error>
      </div>
    </form>

    <form class="orient-contents-vertically-dialog" [formGroup]="accountForm" (ngSubmit)="OnSubmitAccount()">
      <mat-form-field appearance="outline" >
        <mat-label>Name of the Department</mat-label>
        <input matInput placeholder="Department" type="text" formControlName="name" />
        <mat-error *ngIf="(name.dirty || name.touched) && name.invalid && name.errors.required">You must enter a name for your department.</mat-error>
      </mat-form-field>
      
      <mat-label class="form-label">Edit the Point of Contact (POC) for Your Department</mat-label>
      <mat-form-field appearance="outline" >
        <mat-label>Email Address</mat-label>
        <input placeholder="Email" type="email" formControlName="email" required matInput/>
        <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.email">Edit a valid email address.</mat-error>
        <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">Organization Email is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Edit POC Full Name</mat-label>
        <input placeholder="POC Full Name" type="text" formControlName="pocName" matInput/>
        <mat-error *ngIf="(pocName.dirty || pocName.touched) && pocName.invalid && pocName.errors.required">POC Full name is required.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Edit Your POC Phone Number</mat-label>
        <input style="text-align:left" placeholder="8004446666" maxlength="12" type="number" formControlName="cellPhone" matInput/>
        <mat-error *ngIf="(cellPhone.dirty || cellPhone.touched) && cellPhone.invalid && cellPhone.errors.required">POC Phone Number is required.</mat-error>
      </mat-form-field>
      
      <div class="orient-contents-horizontally-dialog">
        <span class="horizontal-spacer"></span>
        <span class="horizontal-spacer"></span>
        <button color="primary" type="submit" [disabled]="((!accountForm.valid) && (changePass)) || ((changePass && !passForm.valid) || (!accountForm.valid))" mat-raised-button>Save</button>
      </div>
    </form>
  </div>
</div>