<div *ngIf="!dataLoaded" class="data-loader-dialog"><mat-spinner mode="indeterminate"></mat-spinner></div>

<div class="popup-edit-about-form">
  <header class="popup-form-header orient-contents-horizontally-dialog">
    <div class="popup-form-title">EDIT INFO</div>

    <span class="horizontal-spacer"></span>

    <button color="warn" (click)="OnExit()" mat-button>
      <mat-icon color="warn">close</mat-icon>
    </button>
  </header>

  <form class="orient-contents-vertically-dialog popup-form-content" [formGroup]="aboutForm" (ngSubmit)="OnSubmitAbout()">
    <mat-label class="form-label">Describe Your Organization</mat-label>

    <mat-label>About You</mat-label>
    <quill-editor class="divider" formControlName="about"></quill-editor>

    <mat-label class="form-label">Media</mat-label>

    <mat-form-field appearance="outline">
      <mat-label>Website</mat-label>
      <input matInput placeholder="Website" type="text" formControlName="website"/>
    </mat-form-field>

    <div class="orient-contents-horizontally-dialog">
      <span class="horizontal-spacer"></span>
      <span class="horizontal-spacer"></span>
      <button  color="primary" type="submit" mat-raised-button>Save</button>
    </div>
  </form>
</div>