<div *ngIf="!dataLoaded" class="data-loader">
  <mat-spinner></mat-spinner>
</div>

<ul *ngIf="dataLoaded" class="dashboard-form-main">
  <li *ngIf="(contests.length + contracts.length) > 0" class="dashboard-item orient-contents-vertically">
    <mat-card>
      <div class="orient-contents-horizontally center-contents">
        <mat-card-title class="dashboard-title">Ongoing</mat-card-title>
        <span class="horizontal-spacer"></span>
        <button color="primary" (click)="OnSeeChallenges()" mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
      <div class="center-contents">
        <google-chart class="dashboard-chart" #chart1
          type="PieChart"
          [data]="openChallengesData"
          [options]="openChallengesOptions">
        </google-chart>
      </div>
    </mat-card>
  </li>

  <li *ngIf="(contestsComplete.length + contractsComplete.length) > 0" class="dashboard-item orient-contents-vertically">
    <mat-card>
      <div class="orient-contents-horizontally center-contents">
        <mat-card-title class="dashboard-title">Closed</mat-card-title>
        <span class="horizontal-spacer"></span>
        <button color="primary" (click)="OnSeeClosedChallenges()" mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
      <div class="center-contents">
        <google-chart class="dashboard-chart" #chart2
          type="PieChart"
          [data]="completeChallengesData"
          [options]="completeChallengesOptions">
        </google-chart>
      </div>
    </mat-card>
  </li>    

  <li *ngIf="(dContests.length + dContracts.length) > 0" class="dashboard-item orient-contents-vertically">
    <mat-card>
      <div class="orient-contents-horizontally center-contents">
        <mat-card-title class="dashboard-title">Departments | Ongoing</mat-card-title>
        <span class="horizontal-spacer"></span>
        <!-- <button color="primary" (click)="OnSeeChallenges()" mat-icon-button><mat-icon>more_vert</mat-icon></button> -->
      </div>
      <div class="center-contents">
        <google-chart class="dashboard-chart" #chart1
          type="PieChart"
          [data]="openChallengesDataDepartments"
          [options]="openChallengesOptions">
        </google-chart>
      </div>
    </mat-card>
  </li>

  <li *ngIf="(dContestsComplete.length + dContractsComplete.length) > 0" class="dashboard-item orient-contents-vertically">
    <mat-card>
      <div class="orient-contents-horizontally center-contents">
        <mat-card-title class="dashboard-title">Departments | Closed</mat-card-title>
        <span class="horizontal-spacer"></span>
        <!-- <button color="primary" (click)="OnSeeClosedChallenges()" mat-icon-button><mat-icon>more_vert</mat-icon></button> -->
      </div>
      <div class="center-contents">
        <google-chart class="dashboard-chart" #chart2
          type="PieChart"
          [data]="completeChallengesDataDepartments"
          [options]="completeChallengesOptions">
        </google-chart>
      </div>
    </mat-card>
  </li>    

  <li *ngIf="" class="dashboard-item orient-contents-vertically">
    <mat-card>
      <mat-card-title class="dashboard-title">Ongoing Challenge Statistics</mat-card-title>
      <div class="orient-contents-horizontally center-contents dashboard-information">
        <div class="dashboard-subtitle">Contracted Teams: 21</div>
        <span class="horizontal-spacer"></span>
        <button color="primary" mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
      <div class="orient-contents-horizontally center-contents dashboard-information">
        <div class="orient-contents-vertically left-justify-contents">
          <div class="dashboard-subtitle">Average Contract Progress: 64%</div>
          <mat-progress-bar
            class="dashboard-progress-bar"
            mode="determinate"
            value="64">
          </mat-progress-bar>
        </div>
        <span class="horizontal-spacer"></span>
        <button color="primary" mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
      <div class="orient-contents-horizontally center-contents dashboard-information">
        <div class="dashboard-subtitle">Competing Teams: 84</div>
        <span class="horizontal-spacer"></span>
        <button color="primary" mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
      <div class="orient-contents-horizontally center-contents dashboard-information">
        <div class="dashboard-subtitle">Contests completing this week: 3</div>
        <span class="horizontal-spacer"></span>
        <button color="primary" mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
    </mat-card>
  </li>
  
  <li *ngIf="" class="dashboard-item orient-contents-vertically">
    <mat-card>
      <div class="orient-contents-horizontally center-contents">
        <mat-card-title class="dashboard-title">Spending</mat-card-title>
        <span class="horizontal-spacer"></span>
        <button color="primary" mat-icon-button><mat-icon>more_vert</mat-icon></button>
      </div>
      <div class="center-contents dashboard-spending">
        <google-chart class="dashboard-spending" #chart3
          type="LineChart"
          [data]="spendingData"
          [options]="spendingOptions">
        </google-chart>
      </div>
    </mat-card>
  </li> 

  <li *ngIf="(dContestsComplete.length + dContractsComplete.length + dContests.length + dContracts.length + contestsComplete.length + contractsComplete.length + contests.length + contracts.length) == 0" class="dashboard-item orient-contents-vertically">
    <mat-card>
      <div class="orient-contents-horizontally center-contents">
        <mat-card-title class="dashboard-title">Welcome to Crowd-U!</mat-card-title>
        <span class="horizontal-spacer"></span>
        <span class="horizontal-spacer"></span>
      </div>
      <div class="dashboard-line">
        The Crowd-U platform has a few features to help you get the most out of the experience.
      </div>
      <div class="dashboard-line">
          This is your "Home" page. Once you create contests and contracts for students and alumni to complete, we will show you the progress and other relevant statistics about those challenges here. Get to this page anytime by pressing the Home button on the navigation bar.
      </div>
      <div class="dashboard-line"> 
        Quickly find the contests and contracts your organization has open now by clicking the My Challenges button on the navigation bar.
      </div>
      <div class="dashboard-line">
        For organizations with multiple departments with discrete budgets, head over to the Departments button on the navigation bar. This will allow you to create seperate login credentials for your departments, set budgets, and delegate tasks.
      </div>
      <div class="dashboard-line">
        Change and view your profile on Crowd-U by clicking the My Profile button on the navigation bar.
      </div>
      <div class="dashboard-line divider">
        If you have any issues or would like to suggest features, please reach out to us at support@crowd-u.com. Thank you!
      </div>

      <div class="orient-contents-horizontally dashboard-line">
        <span class="horizontal-spacer"></span>
        <button color="primary" (click)="OnCreateChallenge()" mat-raised-button>Create A Challenge</button>
        <span class="horizontal-spacer"></span>
      </div>
    </mat-card>
  </li>
</ul>